[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Collection of AWS setup scripts for setting up Gerrit Code Review
[access "refs/*"]
	owner = group GerritForge-aws-gerrit
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-aws-gerrit
	label-Verified = -1..+1 group GerritForge-aws-gerrit
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-aws-gerrit
	removeReviewer = group GerritForge-aws-gerrit
	submit = group GerritForge-aws-gerrit
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)